defaults
    log global
    mode tcp
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend http80
    bind *:80
    default_backend allservers

backend allservers
    # backend don't response anything, will terminate connection
    timeout connect 10s
    timeout server 60s

    # server servername
    server node-app1 127.0.0.1:9991
    server node-app2 127.0.0.1:9992
    server node-app3 127.0.0.1:9993
